@page
@using System.Linq
@using AHWC.Internal.Models
@using Microsoft.AspNetCore.Identity
@inject UserManager<ApplicationUser> userManager

@{
    ViewData["Title"] = "User Accounts";
}

<h2>@ViewData["Title"]</h2>
<hr />

<div class="panel panel-primary">
    <div class="panel-heading">User Search</div>
    <div class="panel-body">
        <form method="post">
            <div class="row">
                <div class="col-md-3">
                    <label>Last Name</label>
                    <input asp-for="AccountIndex.LastName" />
                </div>
                <div class="col-md-3">
                    <label>First Name</label>
                    <input asp-for="AccountIndex.FirstName" />
                </div>
                <div class="col-md-6">
                    <input type="submit" value="Search" class="btn btn-primary" />
                    <a asp-page="Index" class="btn btn-success">Reset</a>
                </div>
            </div>
        </form>
    </div>
</div>

<a asp-page="Add">Add New Account</a>
<br /><br />

@if (Model.AccountIndex.Users != null && Model.AccountIndex.Users.Any())
{
    <table class="table table-condensed">
        <thead>
            <tr>
                <th>Last Name</th>
                <th>First Name</th>
                <th>Email</th>
                <th>Role</th>
                <th>Programs</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in Model.AccountIndex.Users)
            {
                <tr>
                    <td>@user.LastName</td>
                    <td>@user.FirstName</td>
                    <td>@user.Email</td>
                    <td>
                        @((await userManager.IsInRoleAsync(user, UserRoles.AdminRole)) ? UserRoles.AdminRole.ToString() : "")
                        @((await userManager.IsInRoleAsync(user, UserRoles.CoachRole)) ? UserRoles.CoachRole.ToString() : "")
                    </td>
                    <td>
                        @string.Join(", ", user.ApplicationUserPrograms.Select(x => x.Program.Name))
                    </td>
                    <td><a asp-page="Edit" asp-route-id="@user.Id">edit</a></td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <div class="alert alert-info">There are currently no user accounts</div>
}